@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.gradient-bg {
    background: radial-gradient(94.91% 719.67% at 94.91% 33.33%, #7CB700 0%, #C2D200 52.08%, #FF7A00 100%, #FF7A00 100%);
}

.radius-md {
    border-radius: 35px;
}

body {
    background: #090909;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

p {
    line-height: 2em;
}

:root {
    --palette-accent: #ADFF00;
    --palette-secondary: #FF8743;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.5s ease-in-out;
}

*, *:hover, *:active {
    transition: all 0.5s ease-in-out;
    line-height: 2em!important;
}

.container {
    padding: 24px;
    border-radius: 35px;
    background-color: #3b3b3b;
    color: white;
    display: block;
}

.navbar {
    align-items: stretch;
    gap: 10px;
    display: flex;
}

.navbar-right {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    text-decoration: none;
}

.container-main {
    gap: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-tile {
    gap: 10px;
    display: flex;
    flex-direction: column;
    top: 32px;
    position: relative;
    align-items: center;
}

.back-container {
    background-image: url("/static/images/bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1a1a1a;
    padding: 0;
    width: 100%;
    height: 100%
}

.star-container {
    background-image: url("/static/images/star.svg");
    padding: 32px;
    width: 25vw;
    height: 25vh;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-margin {
    margin: 0!important;
}

.author {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 24px;
    padding: 10px;
    position: relative;
    color: white;
    font-size: 32px;
}

.avatar {
    height: 120px;
    min-width: 120px;
    border-radius: 35px;
    object-fit: cover;
    position: relative;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    font-family: 'Unbounded', sans-serif;
    width: 25%;
    background: #26282a;
    border-radius: 10px;
    border: 2px solid var(--palette-accent);
    padding: 10px;
    color: var(--palette-accent);
    outline: none;
}

input[type="number"] {
    font-family: 'Unbounded', sans-serif;
    width: 150px;
    background: #26282a;
    border-radius: 10px;
    border: 2px solid var(--palette-accent);
    padding: 10px;
    color: var(--palette-accent);
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px;
    background: #26282a;
    border-radius: 50%;
    border: 2px solid var(--palette-accent);
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #26282a;
    outline: none;
    border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--palette-accent);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--palette-accent);
    border-radius: 50%;
    cursor: pointer;
}

button {
    font-family: 'Unbounded', sans-serif;
    background-color: #26282a;
    color: var(--palette-accent);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--palette-accent);
    color: #000;
    font-weight: bold;
}

#grid {
    width: fit-content;
    margin-top: 25px;
    border-radius: 20px;
    overflow: hidden;
}

.label {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #dcdcdc;
    color: #dcdcdc;
}